<!--* FOOTER *-->

<ion-footer>

  <ion-toolbar>
    <div class = "footerzada">
      <ion-title>
        <h2>GG Labs</h2>
        <p>Unindo humanidade e tecnologia.</p>
      </ion-title>

      <ion-buttons >
        <h3>Nossos Canais:</h3>
        <!-- LINK DE TESTE, MUDAR!!! -->
        <ion-button href = "https://www.linkedin.com/in/caiofdiniz/" target = "_blank" class = "linkedin">
          <ion-icon name="logo-linkedin"></ion-icon> &nbsp; Linkedin
        </ion-button>

        <ion-button href = "https://github.com/GG-Labss" target = "_blank" class = "github">
          <ion-icon name="logo-github"></ion-icon> &nbsp; Github
        </ion-button>

        <ion-button href = "https://www.instagram.com/gglabss/" target = "_blank" class = "instagram">  
          <ion-icon name="logo-instagram"></ion-icon> &nbsp; Instagram
        </ion-button>
      
      </ion-buttons>
    </div>
  </ion-toolbar>
  

</ion-footer>


